.page {
  font-family: var(--font-geist-sans);
  display: flex;
  flex-direction: column;
}

.backdrop{
  background-image: url('/images/barcode.png');
  background-repeat: no-repeat;
  background-position: 50% 20%;
  background-size: cover;
  position: relative;
}

.top{
  height: 45vw;
  min-height: 150px;
}

.section{
  width: 80%;
  align-self: center;
  padding: 2rem;
  max-width: 1000px;

  margin-bottom: 2vw;
}

@media (max-width: 600px) {
  .section{
    width: 100%;
    padding: 1rem;
  }
}


.line{
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, rgba(140, 211, 255, 0.813), rgba(229, 104, 46, 0.639));
}

.image_watermark{
  position: absolute;
  bottom: .5rem;
  left: .5rem;
  color: white;
  font-size: 2vw;
  opacity: 0.7;
}