
.top_banner{
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.image_image_container{
  width: 75%;
  height: 20rem;
  background-image: url('/images/barcode.png');
  background-repeat: no-repeat;
  background-position: 50% 20%;
  background-size: cover;
  position: relative;
}

.title_container{
  background-color: var(--color-primary);
  color: var(--color-secondary);
  left: 2rem;
  bottom: calc(50% - 1rem);
  z-index: 1;
  position: absolute;

  padding: 2rem;
  border-radius: 4px;
}

.title{
  white-space: nowrap;
  font-size: 2rem;
}

.navbar{
  display: flex;
  justify-content: center;
}

.navbar__list{
  display: flex;
  padding: 1rem;
  gap: 1rem;
}

.header_button:hover{
text-decoration: underline;
}

.watermark{
  position: absolute;
  bottom: .5rem;
  left: .5rem;
  color: white;
  font-size: 1.5vw;
  opacity: 0.7;
}


@media (min-width: 1500px) {
  .image_image_container{
    width: 90%;
  }
}

@media (max-width: 500px) {
  .image_image_container{
    width: 100%;
  }

  .title_container{
    position: unset;
    height: fit-content;
    padding: 0.5rem;

    border-radius: 0px;
  }

  .top_banner{
    flex-direction: column;
  }
  .title{
    white-space: nowrap;
    font-size: 16px;
    text-align: center;
  }

}