.about{
    display: flex;
    flex-wrap: nowrap;
    gap: 2rem;
    align-items: flex-end;
}

.content{
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}

.image{
    width: auto;
    height: 25vw;
    min-height: 200px;
    max-height: 300px;
}

.image_container{
    align-self: flex-end;
    position: relative;
}

.text{
    width: 100%;
}

.image_watermark{
    position: absolute;
    bottom: .5rem;
    left: .5rem;
    color: white;
    font-size: 1.5vw;
    opacity: 0.7;
  }

  .link{
    color: var(--color-url);
}
.link:hover{
    text-decoration: underline;
}

@media (max-width: 750px) {
    .about{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .image_container{
        align-self: center;
    }

    .content{
        padding-top: 0;
        align-items: center;
    }

    .text{
        width: 300px;
    }
  }
    