.card{
    width: 300px;
    padding-top: 2rem;
}

.content {
  position: relative;
  width: 300px;
  height: 15rem;
}

.image {
  width: 12rem;
  height: auto;

  position: absolute;
  bottom: 0;
  left: 3rem;
}

.box {
  height: 13rem;

  background-color: var(--color-secondary);
  position: absolute;
  bottom: 0;
  left: 2rem;
  right: 2rem;
}

.info_boble_one {
  background-color: var(--color-accent);
  padding: 0.5rem;
  border-radius: 2rem;
    
  position: absolute;
  bottom: 7rem;
  left: 0;
}

.info_boble_two {
    background-color: var(--color-accent);
    padding: 0.5rem;
    border-radius: 2rem;

    position: absolute;
    bottom: 1rem;
    right: 0;
}

.contact{
    background-color: var(--color-text);
    margin: 0 2rem;
    color: var(--color-neutral);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact_info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact_header{
    padding: 0.5rem 0;
    font-size: 2rem
}

.contact_list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: 0.5rem;
    padding-bottom: 1rem;
}

.contact_list_item_tag{
    display: flex;
    align-items: center;
    gap: 1rem;
}